<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <system.serviceModel>
    <client>

        <!--<endpoint name="ShoeService"
                  address="net.tcp://localhost:13200/CardsLibrary/ShoeService"
                  binding="netTcpBinding"
                  contract="CardsLibrary.IShoe" />-->

        <!-- Mar 23, 2016 : Switched from basicHttpBinding to wsDualHttpBinding
        to support the use of a duplex communication channel which is required for 
        client callbacks -->

        <!-- Mar 30, 2016 : Changed the assembly name for the IShoe contract
        from CardsLibrary to CardsContracts -->

        <endpoint name="GameService"
                   address="net.tcp://10.244.74.35:13200/GameLibrary/GameService"
                   binding="netTcpBinding"
				           bindingConfiguration="myBindingConfiguration"
                   contract="GameLibrary.IGame" />
  
    </client>
  <bindings>
		<netTcpBinding>
			<binding name="myBindingConfiguration">
				<security mode="None"/>
			</binding>
		</netTcpBinding>
	</bindings>
  </system.serviceModel>
</configuration>